.contenedor{
    background-image: url(../img/barraBusqueda.jpg);
    height: 3rem;
    width: 100%;
    position: fixed;
    z-index: 4;
    box-shadow: 0px 0px 5px 5px black;
    display: flex;
    justify-content: right;
    padding-right: 1.5rem;
    
}